@use "../components/default" as df;
@use "../components/breakpoints" as bp;
@forward "../components/title";
@forward "../components/forms";

.games-main {
  text-align: center;
  margin: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: 1.5em 1fr 1.5em;
  grid-template-areas:
    "header header header"
    ". search ."
    ". table ."
    ". estimate ."
    "preferences preferences preferences";

  @include bp.tablet {
    grid-template-columns:
      1.5em 0.5fr 1fr 1.5em;
    grid-template-areas:
      "header header header header"
      "... search table ..."
      ". estimate estimate ."
      "preferences preferences preferences preferences";
  }

  @include bp.widescreen {
    grid-template-columns:
      1.5em 0.5fr 1fr 0.5fr 1.5em;
    grid-template-areas:
      "header header header header header"
      ". search table estimate ."
      "preferences preferences preferences preferences preferences";
  }
  >article:not(:last-child) {
    @include bp.mobile {
      border-bottom: df.$border;
      padding-bottom: 0.75em;
    }
  }
}

table {
  margin: 1em auto;
}

#games-header {
  grid-area: header;
}

#search-area {
  grid-area: search;
}

#table-container {
  grid-area: table;
}

#estimate-area {
  grid-area: estimate;
}

#preferences_area {
  grid-area: preferences;
}