@use "../components/default" as df;
@use "../components/breakpoints" as bp;
@forward "../components/title";
@forward "../components/forms";

.games-main {
  text-align: center;
  margin: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: 1.5em 1fr 1.5em;
  grid-template-areas:
    "header header header"
    ". search ."
    ". table ."
    ". estimate ."
    "preferences preferences preferences";

  @include bp.tablet {
    grid-template-columns:
      1.5em 0.5fr 1fr 1.5em;
    grid-template-areas:
      "header header header header"
      "... search table ..."
      ". estimate estimate ."
      "preferences preferences preferences preferences";
  }

  @include bp.widescreen {
    grid-template-columns:
      1.5em 0.5fr 1fr 0.5fr 1.5em;
    grid-template-areas:
      "header header header header header"
      ". search table estimate ."
      "preferences preferences preferences preferences preferences";
  }

  >article:not(:last-child) {
    @include bp.mobile {
      border-bottom: df.$border;
      padding-bottom: 0.75em;
    }
  }
}

table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  border-collapse: collapse;
}

thead th {
  &:nth-child(1) {
    width: 60%;
  }

  &:nth-child(2) {
    width: 20%;
  }

  &:nth-child(3) {
    width: 20%;
  }
}

th,
tr {
  padding: 0.5em;
}

#games-header {
  grid-area: header;
}

#search-area {
  grid-area: search;
}

#table-container {
  grid-area: table;
}

#estimate-area {
  grid-area: estimate;
}

#preferences_area {
  grid-area: preferences;
}

.table-button {
  font: medium;
  display: inline-block;
  background-color: df.$light;
  margin: 0;
  padding: 0.2rem 0.5rem;
  min-height: fit-content;
  min-width: fit-content;
  height: 100%;

  &:hover {
    @include df.onHover();
  }

  >* {
    padding: 0;
    margin: 0;
  }
}

.game-title {
  font-weight: 500;
}