@use "../components/default" as df;
@use "../components/breakpoints" as bp;
@use "../components/title" as title;
@use "./homepage" as home;
@forward "../components/forms";

.games-main {
  isolation: isolate;
  position: relative;
  z-index: 0;
  text-align: center;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  display: grid;
  gap: home.$mobile-gap-length;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    "header header header"
    ". search ."
    ". table ."
    ". estimate ."
    ". preferences .";

  @include bp.tablet {
    gap: 5%;
    grid-template-columns:
      1.5em 1fr 1fr 1.5em;
    grid-template-areas:
      "header header header header"
      "... search table ..."
      ". estimate estimate ."
      ". preferences preferences .";
  }

  @include bp.widescreen {
    grid-template-columns:
      1.5em 0.5fr 1fr 0.5fr 1.5em;
    grid-template-areas:
      "header header header header header"
      ". search table estimate ."
      ". search table preferences ."
  }

  >article {
    @include bp.mobile {
      padding-top: home.$mobile-gap-length;
      border-top: df.$border;
    }
  }
}

#games-header {
  grid-area: header;
}

#search-area {
  grid-area: search;
}

#table-container {
  grid-area: table;
}

#estimate-area {
  grid-area: estimate;
}

#preferences_area {
  grid-area: preferences;
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
tr {
  padding: 0.5em 0;
}

thead {
  font-size: 1.5em;

  @include bp.mobile() {
    font-size: medium;
  }
}

thead th {
  >* {
    height: 2em;
  }

  >tr th {
    text-wrap: stable;
  }

  &:nth-child(1) {
    padding-left: 0;
    width: 60%;
  }



  &:nth-child(3) {
    padding-right: 0;
    width: 25%;
  }
}

.table-button {
  font-size: medium;
  display: inline-block;
  background-color: df.$light;
  margin: 0;
  padding: 0.2rem 0.5rem;
  min-height: fit-content;
  min-width: fit-content;
  height: 100%;

  &:hover {
    @include df.onHover();
  }

  >* {
    padding: 0;
    margin: 0;
  }
}

.game-title {
  font-weight: 500;
}

#trash {
  object-fit: scale-down;
  height: 1.5em;
  position: relative;
}
