@use "../components/breakpoints" as bp;
@use "../components/default" as df;
@forward "../components/forms";
@forward "../components/title";

// need to square this with padding for the mobile borders
$mobile-gap-length:1em;
#login-main {
  text-align: center;
  display: grid;
  margin: 0;
  padding: 0;
  gap: $mobile-gap-length;
  grid-template-areas:
    "hero hero hero"
    ". login ."
    ". register ."
    ". guest-login .";

  @include bp.tablet {
    gap: 5%;
    grid-template-columns: 1.5em 1fr 1fr 1fr 1.5em;
    grid-template-areas:
      "hero hero hero hero hero"
      "... login register guest-login ...";
  }

  >article {
    align-content: flex-start;
  }

  @include bp.fullhd {
    grid-template-rows: 1fr 1fr
  }

  >article {
    @include bp.mobile {
      padding-top: $mobile-gap-length;
      border-top: df.$border;
    }
  }
}

#hero {
  align-content: center;
  grid-area: hero;
  margin: 0;

  >h1 {
    line-height: 2ex;
    margin-bottom: 0.5em;
  }

  >details {
    margin: 0 1.5em;

    &[open]>summary {
      color: df.$dark;
    }
  }
}

#login-block {
  grid-area: login;
}

#register-block {
  grid-area: register;
}

#guest-block {
  grid-area: guest-login;
}