@use "../components/default" as df;

@mixin ErasePadMarg {
  padding: 0;
  margin: 0;
}


$button-width: 4rem;
$navbar-height: 3.2rem;


.navbar {
  background-color: df.$light;
  list-style: none;
  width: 100%;
  height: $navbar-height;
  // border: solid;
  display: flex;
  text-align: center;
  &-left,
  &-right {
    @include ErasePadMarg();
    display: inline-flex;
    min-width: 50%;
  }
  &-left {
    justify-content: flex-start;
    flex-grow: 1;
  }
  &-right {
    justify-content: flex-end;
    flex-grow: 1;
  }
  &-item {
    display: flex;
    position: relative;
  }
  &-link {
    @include ErasePadMarg();
  }
  &-link {
    min-width: calc($button-width * 1.5);
    line-height: calc($navbar-height);
  }
  &-logo {
    object-fit: scale-down;
    padding: 0.2em 0.5em;
  }
}
