<% let ishidden=false %>
<% if (Object.entries(loggedGames).length === 0) { ishidden  = true } %>
<article id="estimate-area" data-ishidden="<%= ishidden %>">
  <hgroup class="is-3">
    <h2 class="title">Days to complete</h2>
  </hgroup>
  <p id="estimate-text" class="<% if (ishidden === true) { %>hidden<% } %>">
    Based on your current lifestyle, it will take you around
    <b id="days-to-complete"></b> to finish all these games.
  </p>
  <p id="estimate-text-new" class="<% if (ishidden === false) { %>hidden<% } %>">
    Add some games, and the site will guess how long it takes you to finish them all.</p>
</article>