<form data-cansubmit="true" enctype="multipart/form-data" action="/games/" method="POST" id="results-form">
  <label for="search-results">Confirm the game you were thinking of:</label>

  <select required autofocus="true" class="select block" id="results-label" name="index">
    <option value="" disabled selected>--Please Select an Option--</option>
    <% for( let i=0; i < titles.length; i++) { %>
    <option value="<%=i%>"><%=titles[i]%></option>
    <% } %>
  </select>
  <div id="results-buttons" class="block">
    <button class="button" id="submit-result" type="submit">Confirm</button>
    <button class="button" id="cancel-result" type="reset">Cancel</button>
  </div>
</form>