<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gaming Backlog</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href="/images/favicon.ico" rel="icon" />
</head>

<body>
  <nav id="navbar" class="navbar">
    <figure class="navbar-left">
      <img class="navbar-logo" id="logo-link" src="/images/logo.png" alt="Game Controller logo and link">
    </figure>
    <ul class="navbar-right">
      <% let link="/games" %>
      <% if (loggedIn && path !== link) { %>
      <li class="navbar-item">
        <a class="navbar-link" id="games-nav-link" href="<%= link %>">Games</a>
      </li>
      <% } %>
      <% link="/" %>
      <% if (!registered && path !== link) { %>
      <li class="navbar-item">
        <a class="navbar-link" href="<%= link %>">Log in</a>
      </li>
      <% } %>
      <% link="/new" %>
      <% if (!registered && path !== link) { %>
      <li class="navbar-item">
        <a class="navbar-link" href="<%= link %>">Register</a>
      </li>
      <% } %>
      <% link="/details" %>
      <% if (registered && path !== link) { %>
      <li class="navbar-item">
        <a class="navbar-link" href="<%= link %>">Profile</a>
      </li>
      <% } %>
      <% if (loggedIn) { %>
      <li class="navbar-item">
        <a class="navbar-link" id="log_out_link" href="#">Log Out</a>
      </li>
      <% } %>
    </ul>
  </nav>