@use "breakpoints" as bp;
@use "default" as df;

.columns {
  &-3 {
    @include bp.tablet {
      columns: 3;
      margin-left: 5%;
      margin-right: 5%;
    }

  }
  &-2 {
    @include bp.tablet {  
      columns: 2;
      margin: none 15%;
      @include bp.sizes(margin-top, (none, 5%, 10%));
    }
  }
}
.column {
  position: relative;
  break-inside: avoid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.column:not(:last-child) {
  @include bp.tablet {
    margin-bottom: 20em;
  }
  @include bp.mobile {
    border-bottom: df.$border;
    padding-bottom: 0.75em;
  }
}