<%- include("../header"); -%>
<dialog id="confirm-update">
  <p>Update Successful</p>
  <form method="dialog">
    <button autofocus>OK</button>
  </form>
</dialog>

<main class="grid">

  <h1 class="title-is-3">User Profile</h1>

  <article class="one">
    <h2 class="title-is-4">Lifestyle Preferences</h2>
    <form enctype="multipart/form-data" class="form-is-inline" action="/details" method="PATCH"
      id="patch_playStyle_form">
      <label for="playStyle"><b>PlayStyle: </b></label>
      <label for="completionist">Completionist: </label>
      <input disabled type="radio" id="completionist" name="playStyle" value="completionist"
        <% if (playStyle==="completionist") { %> checked <% } %> />
      <label for="casual">Casual: </label>
      <input disabled type="radio" id="casual" name="playStyle" value="casual" <%
      if (playStyle==="casual") { %> checked <% } %> />
      <button class="hidden button-is-small" id="edit_playstyle" type="submit">
        Submit Change
      </button>
      <button class="unlock button-is-small" id="unlock_playstyle" type="button">
        Update
      </button>
    </form>
  </article>

  <article class="two">
    <h2 class="title-is-4">Login Information</h2>
    <form enctype="multipart/form-data" class="form-is-inline" action="/details" method="PATCH"
      id="patch_username_form">
      <label class="form-field" for="username"><b>Username: </b></label>
      <input disabled type="text" name="username" placeholder="<%= username %>" id="username" />
      <button class="hidden button-is-small" id="edit_password" type="submit">
        Submit Change
      </button>
      <button class="unlock button-is-small" id="unlock_username" type="button">
        Update username
      </button>
    </form>
    <form enctype="multipart/form-data" action="/details" method="PATCH" id="patch_password_form">
      <label for="password"><b>Password: </b></label>
      <input disabled type="password" name="password" placeholder="**********" id="password" />
      <button class="hidden button-is-small" id="edit_password" type="submit">
        Submit Change
      </button>
      <button class="unlock button-is-small" id="unlock_password" type="button">
        Update password
      </button>
    </form>
  </article>


  <footer>
    <h2 class="title-is-4">Leave this dreaded place</h2>
    <button class="button-is-small" type="button"><a href="#log-out-form" id="log_out_form">Log Out</a></button>
    <button class="button-is-small" type="button"><a href="/games"> Return to Gaming Backlog</a></button>
  </footer>

</main>
<script type="module" src="/javascripts/user_details.mjs"></script>
<%- include("../footer"); -%>